<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configuração da conexão com o banco MySQL e dialeto -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/pontorh</property>
		<property name="current_session_context_class">thread</property> <!-- Essa propriedade com o valor thread, indica que a sessão atual do Hibernate (current session) deve ser diferente a cada nova Thread -->
		<property name="hibernate.hbm2ddl.auto">update</property> <!-- Essa propriedade com o valor update, criará automaticamente a estrutura das tabelas nas classes de persistência mapeadas -->
		<!-- Usando as configurações do C3PO para pool de conexões -->
		<property name="c3po.min_size">5</property>
		<property name="c3po.max_size">20</property>
		<property name="c3po.timeout">300</property>
		<property name="c3po.max_statements">50</property>
		<property name="c3po.idle_test_period">3000</property>
		<!-- Configurações de debug -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">true</property>
		<property name="use_sql_comments">true</property>
		
		<mapping class="br.com.pontorh.registro.Registro" /> <!-- Comunicação da existencia da classe Registro ao Hibernate -->
	</session-factory>
</hibernate-configuration>