<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<!-- A tag <http> é um agrupador das configurações referentes ao contexto web do sistema -->
	<http auto-config="true"> <!-- O atributo "auto-config"  inclui algumas opções automaticamente no elemento http -->
		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" /> <!-- A tag <intercept-url> serve para configurar as páginas ou diretórios seguros que serão interceptados e dos nomes de permissão ROLE que serão aceitos para permitir o acesso-->
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO" />
		<form-login login-page="/publico/index.jsf" always-use-default-target="true" default-target-url="/restrito/principal.jsf" authentication-failure-url="/publico/index.jsf?login_error=1" />
		<logout /> <!-- A tag <logout> serve para habilitar o recurso de logout para o sistema -->
		<remember-me /> <!-- A tag <remember-me> serve para permitir que o login automatico no sistema seja habilitado -->
	</http>
	
	<authentication-manager> 
		<authentication-provider> <!-- A configuração que estiver definida em <authentication-provider> dirá ao Spring quais são os usuários válidos do sistema e suas permissões -->
			<!-- A tag <jdbc-user-service> permite declarar as SQLs que fornecerão os dados de que o Spring Security necessita, vindos do Banco de Dados -->
			<jdbc-user-service data-source-ref="financeiroDataSource" 
				authorities-by-username-query="SELECT u.login, p.permissao FROM Usuario u, usuario_permissao p WHERE u.codigo = p.usuario AND u.login = ?"
				users-by-username-query="SELECT login, senha, ativo FROM Usuario WHERE login = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>

